/*
Color palette 
#ef5a28 orange
#377fd4
#65c1e3*/
body {
  font-family: "Nunito", sans-serif;
}
.navbar-brand {
  color: #65c1e3;
}
.navbar {
  background-color: #2d3c46;
  font-size: 20px;
}
#emphasized {
  color: #e4e7f7;
}
.text-color {
  color: #fff;
}
.checkout {
  height: 150px;
  width: 400px;
  margin: 20px auto;

  text-align: center;
}
.card {
  background-color: #ef5a28;
  color: #fff;
}
.special-card {
  background-color: #fff;
}
.card-header {
  background-color: #ef5a28;
}
.card-body {
  color: #fff;
}
.card .btn {
  background-color: #65c1e3;
  border-color: #65c1e3;
}
.card-title {
  text-decoration: underline;
}
.splide .splide__slide {
  background-color: #ef5a28;
  border-radius: 20px;
  color: white;
}

#map {
  width: auto;
  height: 400px;
  background-color: grey;
}
.popup-bubble {
  /* Position the bubble centred-above its parent. */
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  /* Style the bubble. */
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  overflow-y: auto;
  max-height: 60px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
}
/* The parent of the bubble. A zero-height div at the top of the tip. */
.popup-bubble-anchor {
  /* Position the div a fixed distance above the tip. */
  position: absolute;
  width: 100%;
  bottom: /* TIP_HEIGHT= */ 8px;
  left: 0;
}
/* This element draws the tip. */
.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* Center the tip horizontally. */
  transform: translate(-50%, 0);
  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  /* The tip is 8px high, and 12px wide. */
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: /* TIP_HEIGHT= */ 8px solid white;
}
/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
  cursor: auto;
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 200px;
}
#footer {
  background-color: #2f2f2f;
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
  bottom: 0px;
}

#footer p {
  color: white;
}

#footer h4 {
  color: white;
  text-transform: uppercase;
  padding-bottom: 20px;
}
#copyrights {
  position: relative;
  bottom: 0px;
}
#copyrights {
  background: #222222;
  padding: 20px 0;
  text-align: center;
}

#copyrights p {
  margin-bottom: 5px;
  color: #fff;
}

#copyrights a {
  color: #1abc9c;
}

.credits {
  color: #999;
}
