/*
Color palette 
#ef5a28 orange
#377fd4
#65c1e3
*/
body {
  font-family: "Nunito", sans-serif;
}
.item {
  background-color: #ef5a28;
  color: #fff;
  height: 300px;
  border-radius: 5px;
  font-size: 18px;
}

.navbar-brand {
  color: #65c1e3;
}
.navbar {
  background-color: #2d3c46;
  font-size: 20px;
}
#emphasized {
  color: #e4e7f7;
}
.text-color {
  color: #fff;
}
.main {
  background-color: #ef5a28;
}
h6 {
  color: rgba(255, 255, 255, 0.797);
  padding-right: 25%;
}
#main-text {
  width: 80%;
  color: rgba(255, 255, 255, 0.797);
  font-size: 18px;
  line-height: 1.6;
  font-family: "Lato", sans-serif;
}
.learn-more {
  width: 30%;
  margin: auto;
  color: #65c1e3;
  border-color: #65c1e3;
}
#learn-more:hover {
  background-color: #65c1e3;
  color: rgba(255, 255, 255, 0.797);
}
#picture-partition {
  display: block;
  width: auto;
}

.carousel-item {
  width: 600px;
  height: 400px;
  vertical-align: middle;
  align-items: center;
}

#titleone {
  margin-top: 50px;
}
#secondMain {
  margin-top: 50px;
  margin-bottom: 50px;
}
#secondImg {
  height: 500px;
}
#secondImg img {
  margin: auto -100px;
  float: right;
  width: 80%;
}
#facebook {
  background-color: #65c1e3;
  border-color: #65c1e3;
}
.card {
  margin-top: 30px;
}
#titletwo {
  margin-top: 50px;
}
#thanknote-bg {
  background-color: #ef5a28;
}
.highlights {
  color: #fff;
  background: #c95420;
  padding: 5px, 5px;
}
#thirdMain {
  height: 300px;
}
#thirdMain img {
  height: 80%;
  width: 40%;
}

.btn .btn-primary {
  background-color: #c95420;
}
#footer {
  background-color: #2f2f2f;
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
  bottom: 0px;
}

#footer p {
  color: white;
}

#footer h4 {
  color: white;
  text-transform: uppercase;
  padding-bottom: 20px;
}
#copyrights {
  position: relative;
  bottom: 0px;
}
#copyrights {
  background: #222222;
  padding: 20px 0;
  text-align: center;
}

#copyrights p {
  margin-bottom: 5px;
  color: #fff;
}

#copyrights a {
  color: #1abc9c;
}

.credits {
  color: #999;
}
